<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuadi.mapper.GoodsMapper">
	
	<select id="queryAll" resultType="com.wanghuadi.beans.Goods" parameterType="map">
		select g.*,b.bname,k.kname from goods g,brand b,goodskind k 
		where g.bid = b.bid and g.kid = k.kid
	</select>

	<select id="queryBrand" resultType="com.wanghuadi.beans.Brand">
		select * from brand
	</select>
	
	<select id="queryKind" resultType="com.wanghuadi.beans.GoodsKind">
		select * from goodskind
	</select>
	
	<insert id="addGoods" parameterType="com.wanghuadi.beans.Goods">
		insert into goods
		(cname,ename,bid,kid,size,price,num,label,priurl)
		values
		(#{cname},#{ename},#{bid},#{kid},#{size},#{price},#{num},#{label},#{priurl})
	</insert>
	
	<select id="queryGoodsById" parameterType="int" resultType="com.wanghuadi.beans.Goods">
		select * from goods where gid=#{0}
	</select>
	
	<update id="updateGoods" parameterType="com.wanghuadi.beans.Goods">
		update goods set
		cname=#{cname},ename=#{ename},bid=#{bid},kid=#{kid},
		size=#{size},price=#{price},num=#{num},label=#{label},priurl=#{priurl}
		where gid=#{gid}
	</update>
	
	<delete id="deleteGoods" parameterType="string">
		delete from goods where gid in (${_parameter})
	</delete>

</mapper>